.loadingPage{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.box{
    background: linear-gradient(135deg, #1afbf0, #da00ff);
    width: 90px;
    height: 90px;
    filter: blur(2px);
    border-radius: 12px;
    transform: rotate(45deg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    svg{
        width: 31px;
        height: 33px;

        g{
            fill: white
        }
    }
}

.box::before,
.box::after {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    background: linear-gradient(135deg, #1afbf0, #da00ff);
    filter: blur(5px);
    border-radius: 16px;
    z-index: -1;
    animation: ripple 1.6s infinite;
}

.box::after {
    animation-delay: 0.8s;
}

@keyframes ripple {
    0%{
        scale: 1;
        opacity: 1;
    }
    50%{
        scale: 1.8;
        opacity: 0.3;
    }
    100%{
        scale: 2.5;
        opacity: 0;
    }
}