.tableBox{
    width: 100%;
    height: auto;
    min-height: 100%;
    max-height: 100%;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.courseTable{
    width: 100%;
    border-radius: 12px;
    height: 100%;
    overflow-y: auto;
    /* display: block; */

    tr{
        cursor: pointer;
        /* background-color: #FFFFFF; */
        font-size: clamp(0.7vw, 0.7rem, 0.8vw);
        width: 100%;
    }
}

.tableHead{
    width: 100%;
    height: 50px;
    border-radius: inherit;
    position: sticky;
    top: 0;
    z-index: 10;
    background: #F4F8FB;

    th{
        padding: 5px;
        text-align: left;
        height: auto;
        font-size: clamp(0.75vw, 0.75rem, 0.85vw);
        font-weight: 500;
        color: #9FA8C7;
        background: #F4F8FB;

    }
    td{
        padding: 5px;
        text-align: left;
        height: auto;
        min-height: 50px;
    }
}
.thead{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    background: #F4F8FB;
}

.emptybox{
    width: 50px;
    text-align: center;
}
.courseHeadTitle{
}
.courseHeadDescription{
    width: auto;
}
.courseHead4{
}
.courseHead5{}
.selected{
    background-color: #2a9ae11a !important;
}
.courseTitle{
    /* width: fit-content; */
    width: 250px;
    text-align: left;
    word-break: break-all;
    display: flex;
    gap: 2%;
    height: auto;
    min-height: 40px;
    font-size: clamp(0.75vw,0.75rem,0.8vw);
    p{
        color: #777777;
        font-size: clamp(0.6vw,0.6rem,0.65vw);
    }
}
.image{
    width: 20%;
    height: 35px;
    border-radius: 8px;
    img{
        border-radius: inherit;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
.text{
    width: 80%;
    font-size: clamp(0.7vw,0.7rem,0.8vw);

}
.courseDescription{
    width: 500px;
    max-width: 900px;
    text-align: left;
    word-break: break-all;
    font-size: clamp(0.7vw, 0.7rem, 0.8vw);
}
.courseBody {
    /* display: block; */
    tr{
        height: 60px;
        max-height: 60px;
        min-height: 60px;
    }
}
.bodyRow{
    height: 60px;

    td{
        height: 50px;
    }

}

/* .courseBody{
    overflow-y: auto;
    flex: 1;
    display: block;
    height: 0;
} */

/* .tableHead{
    display: block;
    flex-shrink: 0;
} */