.moduleBox{
    background-color: #F4F8FB;
    width: 100%;
    height: 89%;
    overflow: auto;
}

.moduleList{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}
.moduleList{
    display: flex;
    gap: 2%;
    min-height: 40px;
    font-size: clamp(0.75vw,0.75rem,0.8vw);
    p{
        color: #777777;
        font-size: clamp(0.6vw,0.6rem,0.65vw);
    }
}

.image{
    width: 10%;
    height: 90%;
    border-radius: 8px;
    img{
        border-radius: inherit;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
.text{
    width: 80%;
}
.header{
    font-size: clamp(0.8vw,0.8rem,0.9vw);
    color: #9FA8C7;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: #F4F8FB;

}
.heading{
    background-color: #e6f4ff;
    font-size: clamp(0.8vw,0.8rem,0.9vw);
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 5;
}
.scenarioList{
    width: 96%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    cursor: pointer;
}
.scenario{
    display: flex;
    gap: 2%;
    width: 100%;
    height: 50px;
    font-size: clamp(0.75vw,0.75rem,0.8vw);
    p{
        color: #9FA8C7;
        font-size: clamp(0.6vw,0.6rem,0.65vw);
    }
}

.image{
    width: 10%;
    height: 90%;
    border-radius: 8px;
    img{
        border-radius: inherit;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
.text{
    width: 80%;
}

.footer{
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    border-top: 1px solid #BACAD9;
    background-color: white;
    border-radius: 5px;
    border-top: 1px solid #9FA8C7;
    background-color: #F5F8FF;
}

.selectedData {
    display: flex;
    align-items: center;
}

.selectionCount {
    display: flex;
    gap: 2rem;
}

.selectionCount span {
    /* padding: 2%; */
    font-weight: 500;
    font-size: clamp(0.7vw,0.7rem,0.75vw);
}

.selectionCount1 p{
    color: #777777;
    font-size: clamp(0.6vw,0.6rem,0.65vw);
}
.buttons {
    display: flex;
    gap: 1rem;
}

.cancelBtn,
.nextBtn {
    padding: 0.2rem 1rem;
    border-radius: 5rem;
    border: none;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cancelBtn {
    background-color: transparent;
    color: #666;
    border: 1px solid #ddd;
}

.cancelBtn:hover {
    background-color: #f5f5f5;
}

.nextBtn {
    background-color: #0085DB;
    color: white;
}

.nextBtn:hover {
    background-color: #0070c0;
}
.checkBocContainer{
    display: flex;
    align-items: center;
}