.overlay {
  position: fixed;
  top: 60px;
  right: 10px;
  bottom: 0;
  /* background: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  height: fit-content;
  width: fit-content;
}

.toast {
  background: white;
  border-radius: 4px;
  padding: 24px 0 0 0;
  min-width: 260px;
  max-width: 260px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.header {
  margin-bottom: 16px;
}

.header h3 {
  margin: 0;
  color: #333;
  text-align: center;
  font-size: clamp(0.8rem,0.8vw,0.9rem);

}

.content {
  /* margin-bottom: 20px; */
}

.progressContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.progressBar {
  flex: 1;
  height: 8px;
  background: #f0f0f0;
  border-radius: 4px;
  overflow: hidden;
}

.progressFill {
  height: 100%;
  background: linear-gradient(135deg, #1afbf0, #da00ff);
  border-radius: 4px;
  transition: width 0.3s ease;
}

.progressText {
  font-weight: 500;
  color: #333;
  min-width: 50px;
}

.actions {
  display: flex;
  justify-content: center;
}

.completeBtn {
  background: linear-gradient(135deg, #1afbf0, #da00ff);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.completeBtn:hover {
  opacity: 0.9;
}